[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
unipath = "*"
dj-database-url = "*"
djangorestframework = "*"
django-filter = "*"
django-summernote = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
